#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}a#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}a#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}a#content
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}a 
#container
{
width: 100%;
margin: 10px auto;
/* background-color: #fff;*/
color: black;

line-height: 130%;
}

#top
{
padding: .5em;
background-color: #FFF;
/* border-bottom: 3px solid #F90;  */
}

#top h1
{
padding: 0;
margin: 0;
}

#leftnav
{
float: left;
width: 297px;
margin: 0;
padding: 1em;
/*border-right: 3px solid #F90; 
/*border-bottom: 2px solid #F90;*/

}

#rightnav
{
float: right;
width: 160px;
margin: 0;
padding: 1em;
}

#content1
{
margin-left: 320px;

margin-right: 00px;
padding: 1em;
max-width: 50.4em;
/*border-right: 3px color:#F90;*/
}

#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ffff;
border-top: 1px solid gray;
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 5 0; }

#para1{font-size:33px; font-weight:bold; height:0px; text-align:right; vertical-align:top;   }
#para2{font-size:20px; font-weight:bold; height:0px; text-align:right; vertical-align:top; color:#333; }

#parayr{font-size:16px; font-weight:bold; height:0px; text-align:left; vertical-align:top; color:#091576; border-right:#099 }

#parape{font-size:20px; font-weight:bold; height:0px; text-align:left;  color:#091576;  }


#parasubhead{font-size:14px; font-weight:normal; height:30px; text-align:left; vertical-align:top; color:#000; }


#pararoles{font-size:14px; font-weight:normal; height:0px; text-align:left; vertical-align:top; color:#000;  position: absolute; }
